# Aliases
alias ll='ls -l'
alias la='ls -a'
alias svim='sudo vim'
alias h='cd'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias cim='vim'
alias back='cd $OLDPWD'
alias root='sudo su'
alias grep='grep --color=auto'
alias dfh='df -h'
alias zgrep='zgrep --color=auto'
alias cl=clear
alias ppath='echo -e ${PATH//:/\\n} | less -iFNQRX'
#git stuff
alias gcm='git commit'
alias gcmm='git commit -m'
alias gst='git status'
alias glg='git log --pretty=oneline --decorate --graph'
alias gpl='git pull'
alias gps='git push'
alias grb='git rebase'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gfe='git fetch --all'
alias gsh='git show'
alias grm='git rm'
alias gad='git add'
alias grs='git reset'
alias gdf='git diff'
alias gbr='git branch'
alias gcl='git clone'
alias gdm='git branch --merged | grep -v "\*" | xargs -n 1 git branch -d'
alias stamp='date +%Y%m%d%H%M%S'
alias vpane='pwd | pbcopy && tmux split-window -v -c "$(pbpaste)"'
alias hpane='pwd | pbcopy && tmux split-window -h -c "$(pbpaste)"'
alias myip='curl icanhazip.com'
alias v='vim'
alias tad='tmux attach -d'
alias irssi='TERM=screen-256color irssi'
